Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
  Suppress: '*'


CompileFlags:
  Add: [ 
    -xc,
    -std=c2x,
    -Wall,
    -Wextra,
    -Wpedantic,
    -Ivendor/miniaudio,
    -Ivendor/raylib/raylib-5.5_win64_mingw-w64/include,
    -Ivendor/raygui-4.0/src,
    -Wno-empty-translation-unit,
    -DRUNNER_IMPLEMENTATION,
    -mavx
  ]